
# # zsh使用
# if [[ "$SHELL" = '/bin/zsh' ]]; then
#     # echo "zsh"
# elif [[ "$SHELL" = 'bin/bash' ]]; then
#     # echo "bash"
# fi

if [[ "$(uname)" = 'Linux' ]]; then
    alias la="ls -ah"
elif [[ "$(uname)" = 'Darwin' ]]; then
    alias openmd="open -a Typora"
    alias la="ls -ah"
else
    echo "not support $(uname)"
fi

alias mtags="ctags --fields=+iaS --extra=+q --c-kinds=+p -R ."

