# general
#
[general]
live_config_reload = true
# # window
# working_directory = "C:\\Users\\Qeuroal"        # on Windows

# import external files
import = [
  # "./onedark/onedarkpro_onedark.toml"
  "./catppuccin/catppuccin-macchiato.toml"
]


# color
#
[colors]
# 如果为‘true’，则使用亮色变体绘制粗体文本。
# draw_bold_text_with_bright_colors = true | false
draw_bold_text_with_bright_colors = false

## Cursor colors
#
# Colors which should be used to draw the terminal cursor. If these are unset,
# the cursor color will be the inverse of the cell color.
[colors.cursor]
text = '0xffffff'
cursor = '0xff6347'

[colors.vi_mode_cursor]
text = "0xffffff"
cursor = "0xff6347"


# font setting
#
[font]
size = 21.0
normal = { family = "JetBrainsMonoNL Nerd Font", style = "Regular" }
bold = { family = "JetBrainsMonoNL Nerd Font", style = "Bold" }
italic = { family = "JetBrainsMonoNL Nerd Font", style = "Italic" }
bold_italic = { family = "JetBrainsMonoNL Nerd Font", style = "Bold Italic" }

offset = { x = 0, y = 1 }
glyph_offset = { x = 0, y = 1 }


[window]
# padding = { x = 22, y = 22 }
decorations = "Full" # "Full" | "None" | "Transparent" | "Buttonless"
# dimensions = { columns = 80, lines = 20 } # !!!该选项导致windows无法最大化
startup_mode = "Maximized" # "Windowed" | "Maximized" | "Fullscreen" | "SimpleFullscreen"
dynamic_title = true
opacity = 0.95
decorations_theme_variant = "Dark"
# maping option of macos to alt
option_as_alt = "OnlyLeft"
# resize_increments = true      # make the dwm greater gap

# # On Windows
# [terminal.shell]
# program = "cmd"


[scrolling]
# 回滚缓冲区中的最大行数,指定“0”将禁用滚动。
# history = 100000
history = 100000
# 滚动行数
multiplier = 0


[cursor]
style = { shape = "block", blinking = "Never" }
unfocused_hollow = true
thickness = 0.35


[selection]
semantic_escape_chars = ",│`|:\"'' ()[]{}<>\t"
save_to_clipboard = false

[mouse]
hide_when_typing = false

[env]
TERM = "xterm-256color"

[keyboard]
bindings = [
  { key = "I", mods = "Control | Shift", action = "SpawnNewInstance" },
  { key = "N", mods = "Control | Shift", action = "CreateNewWindow" },
  { key = "T", mods = "Control | Shift", action = "CreateNewTab" },
  { key = "Q", mods = "Control | Shift", action = "Quit" },
  { key = "Tab", mods = "Control", action = "SelectNextTab" },
  { key = "Tab", mods = "Control | Shift", action = "SelectPreviousTab" },
  { key = "C", mods = "Control | Shift", action = "Copy" },
  { key = "V", mods = "Control | Shift", action = "Paste" },
  { key = "Q", mods = "Control | Shift", action = "Quit" },
  { key = "M", mods = "Control | Shift", mode = "~Vi", action = "ToggleMaximized" },
  { key = "F", mods = "Command | Control", mode = "~Vi", action = "ToggleFullscreen" },
  { key = "PageUp", mods = "Shift", mode = "~Vi", action = "ScrollPageUp" },
  { key = "PageDown", mods = "Shift", mode = "~Vi", action = "ScrollPageDown" },
  { key = "PageUp", mods = "Control | Shift", mode = "~Vi", action = "ScrollHalfPageUp" },
  { key = "PageDown", mods = "Control | Shift", mode = "~Vi", action = "ScrollHalfPageDown" },
  { key = "B", mods = "Control | Shift", mode = "~Vi", action = "ScrollPageUp" },
  { key = "f", mods = "Control | Shift", mode = "~Vi", action = "ScrollPageDown" },
  { key = "U", mods = "Control | Shift", mode = "~Vi", action = "ScrollHalfPageUp" },
  { key = "D", mods = "Control | Shift", mode = "~Vi", action = "ScrollHalfPageDown" },
]

# [[keyboard.bindings]]
# chars = "\u001BOH"
# key = "Home"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[1~"
# key = "Home"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001BOF"
# key = "End"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[4~"
# key = "End"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[5;2~"
# key = "PageUp"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[5;5~"
# key = "PageUp"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[5~"
# key = "PageUp"
#
# [[keyboard.bindings]]
# chars = "\u001B[6;2~"
# key = "PageDown"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[6;5~"
# key = "PageDown"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[6~"
# key = "PageDown"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;2D"
# key = "Left"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;5D"
# key = "Left"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;3D"
# key = "Left"
# mods = "Alt"
#
# [[keyboard.bindings]]
# chars = "\u001B[D"
# key = "Left"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001BOD"
# key = "Left"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;2C"
# key = "Right"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;5C"
# key = "Right"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;3C"
# key = "Right"
# mods = "Alt"
#
# [[keyboard.bindings]]
# chars = "\u001B[C"
# key = "Right"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001BOC"
# key = "Right"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;2A"
# key = "Up"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;5A"
# key = "Up"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;3A"
# key = "Up"
# mods = "Alt"
#
# [[keyboard.bindings]]
# chars = "\u001B[A"
# key = "Up"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001BOA"
# key = "Up"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;2B"
# key = "Down"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;5B"
# key = "Down"
# mods = "Control"
#
# [[keyboard.bindings]]
# chars = "\u001B[1;3B"
# key = "Down"
# mods = "Alt"
#
# [[keyboard.bindings]]
# chars = "\u001B[B"
# key = "Down"
# mode = "~AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001BOB"
# key = "Down"
# mode = "AppCursor"
#
# [[keyboard.bindings]]
# chars = "\u001B[Z"
# key = "Tab"
# mods = "Shift"
#
# [[keyboard.bindings]]
# chars = "\u001BOP"
# key = "F1"
#
# [[keyboard.bindings]]
# chars = "\u001BOQ"
# key = "F2"
#
# [[keyboard.bindings]]
# chars = "\u001BOR"
# key = "F3"
#
# [[keyboard.bindings]]
# chars = "\u001BOS"
# key = "F4"
#
# [[keyboard.bindings]]
# chars = "\u001B[15~"
# key = "F5"
#
# [[keyboard.bindings]]
# chars = "\u001B[17~"
# key = "F6"
#
# [[keyboard.bindings]]
# chars = "\u001B[18~"
# key = "F7"
#
# [[keyboard.bindings]]
# chars = "\u001B[19~"
# key = "F8"
#
# [[keyboard.bindings]]
# chars = "\u001B[20~"
# key = "F9"
#
# [[keyboard.bindings]]
# chars = "\u001B[21~"
# key = "F10"
#
# [[keyboard.bindings]]
# chars = "\u001B[23~"
# key = "F11"
#
# [[keyboard.bindings]]
# chars = "\u001B[24~"
# key = "F12"
#
# [[keyboard.bindings]]
# chars = "\u007F"
# key = "Back"
#
# [[keyboard.bindings]]
# chars = "\u001B\u007F"
# key = "Back"
# mods = "Alt"
#
# [[keyboard.bindings]]
# chars = "\u001B[2~"
# key = "Insert"
#
# [[keyboard.bindings]]
# chars = "\u001B[3~"
# key = "Delete"
#
# [[keyboard.bindings]]
# chars = "\u0002&"
# key = "W"
# mods = "Command"
#
# [[keyboard.bindings]]
# chars = "\u0002c"
# key = "T"
# mods = "Command"
#
# [[keyboard.bindings]]
# chars = "\u0002n"
# key = "RBracket"
# mods = "Command|Shift"
#
# [[keyboard.bindings]]
# chars = "\u0002p"
# key = "LBracket"
# mods = "Command|Shift"
#
# [[keyboard.bindings]]
# chars = "\u0002o"
# key = "RBracket"
# mods = "Command"
#
# [[keyboard.bindings]]
# chars = "\u0002;"
# key = "LBracket"
# mods = "Command"
#
# [[keyboard.bindings]]
# chars = "\u0002/"
# key = "F"
# mods = "Command"
#
# [[mouse.bindings]]
# action = "PasteSelection"
# mouse = "Middle"



